.DS_Store
#datasets
datasets/covid_dataset
datasets/isic2017
datasets/isic2018
#pht 
pretrained_ckpt
#old file
modifyCSV.py
datasets_tiny/
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
checkpoint/CoTrFuse_ISIC_resnet50/10 epochs/ckpt.pth
checkpoint/CoTrFuse_ISIC_efficientnet-b0/10 epochs/ckpt.pth
*.pth
/datasets/covid_data
val_colab.csv
/datasets/tests
/datasets/covid
*.pyc
*.pyc
